/* w2ui 1.4 (c) http://w2ui.com, vitmalina@gmail.com */

/*************************************************
* ---- toolbarALE ----
*/
.w2ui-toolbarALE {
  margin-left: 5px;
  padding: 0px;
  outline: 0px;
  background-color: whitesmoke;
  overflow: hidden !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.w2ui-toolbarALE .disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.w2ui-toolbarALE table {
  table-layout: auto !important;
}
.w2ui-toolbarALE table td {
  border: 0px !important;
}
.w2ui-toolbarALE table.w2ui-button {
  margin: 0px 1px;
  border-radius: 4px;
  height: 2px;
  border: 1px solid transparent;
  background-color: transparent;
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-image {
  width: 48px;
  height: 48px;
  padding: 0px;
  margin: 0px 0px 0px 0px !important;
  border: 0px !important;
  text-align: center;
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-image > span {
  font-size: 12px;
  margin-top: 3px;
  display: block;
  color: #8d99a7;
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-caption {
  color: #000000;
  padding: 0px 0px 0px 0px;
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-count {
  padding: 0px 0px 0px 0px;
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-count > span {
  border: 1px solid #9da4af;
  border-radius: 20px;
  width: auto;
  height: 18px;
  padding: 0px 7px;
  background-color: whitesmoke;
  color: #667274;
  box-shadow: 0 0 2px #ffffff;
  text-shadow: 1px 1px 1px #e6e6e6;
  
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-down {
  padding: 0px;
}
.w2ui-toolbarALE table.w2ui-button .w2ui-tb-down > div {
  border: 4px solid transparent;
  border-top: 5px solid #8D99A7;
  margin-top: 5px;
}
.w2ui-toolbarALE table.w2ui-button.over {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}
.w2ui-toolbarALE table.w2ui-button.over .w2ui-tb-caption {
  color: #000000;
}
.w2ui-toolbarALE table.w2ui-button.down {
  border: 1px solid #aaaaaa;
  background-color: #dddddd;
}
.w2ui-toolbarALE table.w2ui-button.down .w2ui-tb-caption {
  color: #666666;
}
.w2ui-toolbarALE table.w2ui-button.checked {
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}
.w2ui-toolbarALE table.w2ui-button.checked .w2ui-tb-caption {
  color: #000000;
}
.w2ui-toolbarALE table.w2ui-button table {
  height: 12px;
  border-radius: 4px;
  cursor: default;
}
.w2ui-toolbarALE .w2ui-break {
  background-image: -webkit-linear-gradient(top, rgba(153, 153, 153, 0.1) 0%, #999999 40%, #999999 60%, rgba(153, 153, 153, 0.1) 100%);
  background-image: -moz-linear-gradient(top, rgba(153, 153, 153, 0.1) 0%, #999999 40%, #999999 60%, rgba(153, 153, 153, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(153, 153, 153, 0.1) 0%, #999999 40%, #999999 60%, rgba(153, 153, 153, 0.1) 100%);
  background-image: -o-linear-gradient(top, rgba(153, 153, 153, 0.1) 0%, #999999 40%, #999999 60%, rgba(153, 153, 153, 0.1) 100%);
  background-image: linear-gradient(top, rgba(153, 153, 153, 0.1) 0%, #999999 40%, #999999 60%, rgba(153, 153, 153, 0.1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff999999', GradientType=0);
  width: 1px !important;
  height: 22px;
  padding: 0px;
  margin: 0px 6px;
}

/*************************************************
* ---- Sidebar ----
*/
.w2ui-sidebarALE {
  cursor: default;
  overflow: hidden !important;
  background-color: #edf1f6 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.w2ui-sidebarALE * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.w2ui-sidebarALE > div {
  position: relative;
  overflow: hidden;
}
.w2ui-sidebarALE .w2ui-sidebarALE-top {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
}
.w2ui-sidebarALE .w2ui-sidebarALE-bottom {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div {
  position: absolute;
  z-index: 1;
  overflow: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 2px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div table {
  width: 100%;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node {
  background-color: #edf1f6;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0px;
  padding: 1px 0px;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node table {
  pointer-events: none;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-caption,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-image,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-image > span,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node td.w2ui-node-dots {
  color: #000000;
  text-shadow: 0px 0px 0px #ffffff;
  pointer-events: none;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-caption:hover,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-image:hover,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-image > span:hover,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node td.w2ui-node-dots:hover {
  color: inherit;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node:hover {
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
  background-color: #d7e1ef;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-image {
  width: 40px;
  height: 40px;
  text-align: center;
  pointer-events: none;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node .w2ui-node-image > span {
  color: #516173 !important;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node input {
  pointer-events: auto;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected:hover {
  background-image: -webkit-linear-gradient(#69b1e0, #4a96d3);
  background-image: -moz-linear-gradient(#69b1e0, #4a96d3);
  background-image: -ms-linear-gradient(#69b1e0, #4a96d3);
  background-image: -o-linear-gradient(#69b1e0, #4a96d3);
  background-image: linear-gradient(#69b1e0, #4a96d3);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff69b1e0', endColorstr='#ff4a96d3', GradientType=0);
  border-top: 1px solid #5295cd;
  border-bottom: 1px solid #2661a6;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected .w2ui-node-caption,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected:hover .w2ui-node-caption,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected .w2ui-node-image,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected:hover .w2ui-node-image,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected .w2ui-node-image > span,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected:hover .w2ui-node-image > span,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected td.w2ui-node-dots,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-selected:hover td.w2ui-node-dots {
  color: #ffffff !important;
  text-shadow: 1px 1px 2px #666666 !important;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled:hover {
  background: transparent !important;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled .w2ui-node-caption,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled:hover .w2ui-node-caption,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled .w2ui-node-image,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled:hover .w2ui-node-image,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled .w2ui-node-image > span,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled:hover .w2ui-node-image > span,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled td.w2ui-node-dots,
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-disabled:hover td.w2ui-node-dots {
  opacity: 0.4;
  filter: alpha(opacity=40);
  color: #000000 !important;
  text-shadow: 0px 0px 0px #ffffff !important;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node-caption {
  white-space: nowrap;
  padding: 15px 0px 5px 3px;
  margin: 1px 0px 1px 22px;
  position: relative;
  z-index: 1;
  font-size: 12px;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node-group {
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0px 10px 10px;
  margin: 0px;
  cursor: default;
  color: #868b92;
  background-color: transparent;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node-group :nth-child(1) {
  /* show / hide link */
  margin-right: 10px;
  float: right;
  color: transparent;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node-group :nth-child(2) {
  /* title text */
  font-weight: normal;
  text-transform: uppercase;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div .w2ui-node-sub {
  overflow: hidden;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-dots {
  width: 18px;
  padding: 0px 0px 1px 7px;
  text-align: center;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-dots .w2ui-expand {
  width: 16px;
  margin-top: -3px;
  pointer-events: auto;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-data {
  padding: 1px 1px 3px 1px;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-data .w2ui-node-image {
  padding: 3px 0px 0px 0px;
  float: left;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-data .w2ui-node-image > span {
  font-size: 16px;
  color: #000000;
  text-shadow: 0px 0px 0px #ffffff;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-data .w2ui-node-image.w2ui-icon {
  margin-top: 3px;
}
.w2ui-sidebarALE .w2ui-sidebarALE-div td.w2ui-node-data .w2ui-node-count {
  float: right;
  border: 1px solid #9da4af;
  border-radius: 20px;
  width: auto;
  height: 40px;
  padding: 2px 7px;
  margin: 3px 4px -2px 0;
  background-color: #e7f0fc;
  color: #667274;
  box-shadow: 0 0 2px #ffffff;
  text-shadow: 1px 1px 1px #e6e6e6;
  position: relative;
  z-index: 2;
}
/**********************************************************************/
.w2ui-form .w2ui-form-toolbar {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 6px 3px;
  border-bottom: 1px solid #d5d8d8;
}
