.w2ui-icon.icon-Legend {
	background-repeat: no-repeat;
	background-image: url(../icon/legend.png);
}
.w2ui-icon.icon-File-Export-PNG {
	background-repeat: no-repeat;
	background-image: url(../icon/png.png);
}
.w2ui-icon.icon-File-Export-JPG {
	background-repeat: no-repeat;
	background-image: url(../icon/jpg.png);
}
.w2ui-icon.icon-File-Export-TIF {
	background-repeat: no-repeat;
	background-image: url(../icon/tif.png);
}
.w2ui-icon.icon-File-Export-PDF {
	background-repeat: no-repeat;
	background-image: url(../icon/pdf.png);
}
.w2ui-icon.icon-File-Export-SVG {
	background-repeat: no-repeat;
	background-image: url(../icon/svg.png);
}
.w2ui-icon.icon-File-Export-DXF {
	background-repeat: no-repeat;
	background-image: url(../icon/dxf.png);
}
.w2ui-icon.icon-File-PRINT {
	background-repeat: no-repeat;
	background-image: url(../icon/print.png);
}
.w2ui-icon.icon-File-INFO {
	background-repeat: no-repeat;
	background-image: url(../icon/info.png);
}
.w2ui-icon.icon-File-EXIT {
	background-repeat: no-repeat;
	background-image: url(../icon/exit.png);
}
.w2ui-icon.icon-Zoom-IN {
	background-repeat: no-repeat;
	background-image: url(../icon/zoomIN.png);
}
.w2ui-icon.icon-Zoom-OUT {
	background-repeat: no-repeat;
	background-image: url(../icon/zoomOUT.png);
}
.w2ui-icon.icon-Zoom-ALL {
	background-repeat: no-repeat;
	background-image: url(../icon/zoomALL.png);
}
.w2ui-icon.icon-Zoom-100 {
	background-repeat: no-repeat;
	background-image: url(../icon/zoom100.png);
}
